# Python
__pycache__/
*.py[cod]
*$py.class

# QGIS
.qgis2/
.qgis3/

# Project specific
174 청양.jpg
*.png
!icon.png
ai_vectorizer/models/
ai_vectorizer/models/*.pt
ai_vectorizer/models/*.pth
ai_vectorizer/models/*.onnx
ai_vectorizer/models/*.ckpt
ai_vectorizer/models/*.bin
ai_vectorizer/core/models/*.caffemodel
.idea/
.vscode/
